@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: Roboto, sans-serif;
}

.borda {
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(229, 238, 146);
}
.exemplo01 {
    border-style: dashed;
}
.exemplo02 {
    border-style: dotted;
}
.exemplo03 {
    border-style: double;
}
.exemplo04 {
    border-style: groove;
}
.exemplo05 {
    border-style: inset;
}
.exemplo06 {
    border-style: outset;
}
.exemplo07 {
    border-style: inset groove;
}
.exemplo08{
    border-color: purple greenyellow goldenrod blue;
}
.exemplo09{
    border:10px solid paleturquoise; /* podendo utilizar right, left, top, button para mudar de acordo com a localização */
}
.exemplo10{
    border: 5px solid black;
    border-radius: 30px; /* podendo arredondar os cantos separadamente ou tulizar outras utilizadas como 50px/100px e % também*/
}
.exemplo11{
    border: 50px solid;
    border-image-source: url('../image/logo.png');
}
.exemplo12{
    border: 50px solid;
    border-image-source:linear-gradient(white, blue);
}
.exemplo13{
    border: 50px solid;
    border-image-source: url('../image/logo.png');
    border-image-slice: 169 fill;
    border-image-repeat: repeat;
}
.exemplo14{
    border: 50px solid;
    border-image-source: url('../image/logo.png');
    border-image-slice:100 ;
    border-image-repeat: repeat;
    border-image-width: 30px; /* podendo colocar mais de um valor, sendo um para cada lado */
}
.exemplo15{
    border: 50px solid;
    border-image-source: url('../image/logo.png');
    border-image-slice:100 ;
    margin: 50px auto;
    border-image-repeat: round;
    border-image-width: 30px; /* podendo colocar mais de um valor, sendo um para cada lado */
    border-image-outset: 40px;
}
.exemplo16{
    border: 50px solid;
    margin: 50px auto;
    border-image:url('../image/logo.png') 70 / 20px / 1 round ;
 
}