body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(247, 247, 247);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  position: absolute;
  background: #d53369;
  color: white;
  /* animation-name: change-background;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-fill-mode: both; */

  animation: change-background 2s ease-in 2s infinite reverse;
}
.box:hover{
  animation-play-state: paused;
}

@keyframes change-background {
  0%{
background: palegreen;

  }

  50%{
background: purple;
width: 500px;
  }
  100%{
    background: palegreen;
  }
}

